  :root {
    background-color: #fafafa;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
  }


  #container {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
  }

  #form-action {
    width: 400px;
    height: 400px;
    padding: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 12px;
    border: #d4d4d8 solid 1px;
    background-color: #e4e4e7;
  }

  input,
  button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: #d4d4d8 solid 1px;
    width: 80%;
  }

  button {
    background-color: #3b82f6;
    color: #fff;
    margin-bottom: 1rem;
  }

  button:hover {
    background-color: #2563eb;
  }

  input:hover {
    background-color: #eff6ff;
  }